
footer,
header {
    font-family: "Playwrite NZ Basic", cursive;
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: rgb(202, 231, 255);
}


body {
    font-family:  "Lora", serif;
    font-size: 1.5em;
    background-color: rgb(164, 186, 207);
}

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Cloudy_weather.jpg/1280px-Cloudy_weather.jpg?20170519223550");
    background-size: cover;
    height: 400px;
}

.jumbotron h2 {
    color: black;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}

.jumbotron h3 {
    color: black;
    font-size: 2em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    margin: 10px auto;
}

.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.playwrite-nz-basic {
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

#startingPic {
    width: 300px;
    max-width: 100%;
    height: auto;
}

.textBoxHeader {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}

.vehiclePic {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}