body {
  font-family: "Chewy";
  background-color: rgb(229, 205, 171);
  color: rgb(120, 154, 6);
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
  font-family: 'Indie Flower'
}

header nav {
  display: flex;
  justify-content: flex-end;
  font-family: 'Indie Flower';
  font-size: 16px;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.product-picture {

}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://c.pxhere.com/photos/21/f2/vineyard_vine_breathtaking_views_beautiful_amazing_green_greenery-649626.jpg!d');
  background-size: cover;
  color: #ffffff;
  height: 400px;
  text-shadow: 0.5px 0.5px 0.5px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
  
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

.main-text {
  text-align: justify;
  font-size: 12px;
}

section .row img {
  margin: 0 0 15px;
  width: 100%;
  height: 300px;
  border: 2px dashed #000000;
}

.col-md-6 {
  margin: 0 0 30px;
}

footer {
  padding: 20px 0;
  align-items: center;
  font-family: "Indie Flower"
}

footer p {
  font-weight: bold;
  font-size: 16px
}

footer .col-sm-8 {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

footer ul {
  list-style: none;
  align-items: center;
}

footer a {
  border: 0.75px solid #000000;
  border-radius: 20px;
  padding: 3px;
}

.footer-btn {
  cursor: pointer;
  float: right;
  user-select: none;
}

.footer-btn a:active {
  position: relative;
  user-select: none;
  top: 3px
}